	
footer{
	margin : 0;
	overflow: hidden;
	height: 974px;
	background: #423d3d repeat;
	font-size : 14px;
	color : #c4bebe;
	clear:left;
}



footer p{
	margin: 0;
	height:30px;
	text-align: left;
	color: #c4bebe;
	font-size: 14px;
}

footer a,
footer a:link,
footer a:visited,
footer a:active,
footer a:hover{
	color: #c4bebe;
	text-decoration : none;
	font-size: 14px;
}

footer a:hover{
	text-decoration : none;
	color: #da969b ; 	/* rouge rosé*/
}

#footer_box{
	height: 900px;
	width: 965px;
	margin-left: auto;
	margin-right: auto;
}

#footer_bar{
	background: black;
	height: 74px;
	margin-left: auto;
	margin-right: auto;
}

#footer_bar p{
	padding-top: 25px;
	text-align : center;
}


.footer_contact_contact {
clear: left;
   height: 100%;
    margin-bottom: 150px;
}

		.footer_bloc_bloc {
		clear: left;
		}

.footer_bloc{
float : left;
height : 224px;
margin-left : 30px;
margin-right : 30px;
margin-bottom : 40px;
}

.footer_sous_bloc{
float : left;
width : 230px;
margin-left : 30px;
margin-right : 30px;
margin-bottom : 30px;

}

.footer_bloc li{
list-style : none;
margin-left : -20px;

}

.footer_bloc a{
color : #c4bebe;
}

.footer_bloc #newsletter{
text-align : left;
margin-left : 50px;
}

.footer_bloc #newsletter input{
width : 200px;
margin-right : 30px;
}


.footer_bloc h5{
border-bottom : 1px solid #c4bebe;
text-align : center;
padding-bottom : 10px;
}


.footer_photo{
float : left;
margin-top : 30px;
}

.footer_contact{
clear : left;
margin-left : auto;
margin-right : auto;
width : 400px;

	
}

	.footer_image{
	float : left;
	margin-left : 50px;
	width : 110px;
	}


	.footer_lien_contact{
	float : left;
	line-height : 100px;
	height : 100px;
	margin-left : 30px;
	width : 200px;
	font-size : 20px;
	}
	
	.footer_lien_contact p{
	height:20px;
}
	
	.footer_lien_contact a{
	color : #c4bebe;
	vertical-align : middle;
	}

footer table tr td {
	padding : 0 8px;
}

.twitter{
margin-top: 24px;
}